*.class
/target/**/*.*
/out/
/scorebj.jre/target/
/scorebj.output/details.csv
/scorebj.output/matrix.csv
/scorebj.output/summary.csv
/scorebj.output/travellers.csv
/scorebj.app/target/
/scorebj.data/target/
/scorebj.gui/target/
/scorebj.output/target/
/scorebj.util/target/
/**/*.log
/scorebj.gui/IntTestComp1-details.csv
/scorebj.gui/IntTestComp1-matrix.csv
/scorebj.gui/IntTestComp1-results.xlsx
/scorebj.gui/IntTestComp1-summary.csv
/scorebj.gui/IntTestComp1-travellers.csv
/scorebj.gui/IntTestComp2-details.csv
/scorebj.gui/IntTestComp2-matrix.csv
/scorebj.gui/IntTestComp2-results.xlsx
/scorebj.gui/IntTestComp2-summary.csv
/scorebj.gui/IntTestComp2-travellers.csv
